module-name: rt-bootstrapper
kind: kyma
bdba:
  - europe-docker.pkg.dev/kyma-project/prod/rt-bootstrapper:latest
mend:
  language: golang-mod
  exclude:
    - "**/*_test.go"
checkmarx-one:
  preset: go-default
  exclude:
    - '**/*_test.go'